.container{
    display: flex;
    gap: 10px;
}

.dropdown{
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    
}

@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        width: 216px;
    }
}